services:
  backend-api:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/instance:/app/instance
  frontend-app:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend-api